# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
s.p-C-6th_ed/Chapter2/C/exercise2.c
s.p-C-6th_ed/Chapter2/C/exercise3_imp.c
s.p-C-6th_ed/Chapter2/Cpp/exercise3_imp.cpp
